* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

/*************************** common style ***************************/

/*************** margin ***************/
.marginauto {
  margin: auto;
}

.margin-left {
  margin-left: 2rem;
}
.align-chevron {
  margin-left: 30rem;
}

.margin-right05 {
  margin-right: 0.5rem;
}
.margin-right2 {
  margin-right: 2rem;
}

.margin-top6 {
  margin-top: 6rem;
}

.margin-bot2 {
  margin-bottom: 2rem;
}
.margin-bot6 {
  margin-bottom: 6rem;
}

/*************** padding ***************/
.padding {
  padding: 1rem;
}

.padding-top2 {
  padding-top: 2rem;
}
.padding-top4 {
  padding-top: 4rem;
}

.padding-bot2 {
  padding-bottom: 2rem;
}
.padding-bot4 {
  padding-bottom: 4rem;
}

.padding-left {
  padding-left: 1rem;
}

/*************** align and spacing ***************/
.align-right {
  justify-content: flex-end;
}

.linespacing {
  line-height: 20px;
}
.l-height {
  line-height: 2rem;
}

.relative {
  position: relative;
}

/*************** containers ***************/
.container {
  width: 50%;
  margin: 0 auto;
  padding-top: 8rem;
}

.container-big {
  width: 65%;
  margin: 0 auto;
  padding-top: 5rem;
}

/*************** fontsize ***************/
.font-smaller {
  font-size: 16px;
}

.font-small {
  font-size: 24px;
}

.font-medium {
  font-size: 48px;
}

.font-big {
  font-size: 100px;
}

.strong {
  font-weight: 600;
}

/*************** colors ***************/
.white {
  color: white;
}

.sky {
  background-color: #b4d0e7;
}

.gray {
  color: #8b9497;
}

.purple{
  color: #61082b;
}

/*************** buttons ***************/
button {
  cursor: pointer;
}

button:active {
  box-shadow: 2px 2px 5px gray;
}

.button1 {
  background-color: #0061ff;
  padding: 0.5rem 1rem;
  border: none;
}
.button1:hover {
  background-color: rgba(0, 97, 255, 0.9);
}

.button2 {
  background-color: #0061ff;
  padding: 1rem;
  border: none;
  width: 60%;
  font-size: 14px;
}
.button2:hover {
  background-color: rgba(0, 97, 255, 0.9);
}

.button3 {
  background-color: #0061ff;
  padding: 0.7rem 2rem;
  border: none;
  margin-bottom: 2rem;
  width: 100%;
}
.button3:hover {
  background-color: rgba(0, 97, 255, 0.9);
}

.button4 {
  background-color: #0061ff;
  padding: 0.7rem 1rem;
  border: none;
  margin-bottom: 2rem;
  width: 30%;
  top: 3rem;
  right: 1rem;
  position: absolute;
}
.button4:hover {
  background-color: rgba(0, 97, 255, 0.9);
}

.button5 {
  border: 1px black solid;
  padding: 0.5rem 1rem;
}
.button5:hover {
  font-weight: 600;
}

.button6 {
  background-color: white;
  padding: 0.7rem 3rem;
  border: none;
}
.button6:hover {
  border: 1px black solid;
}

/*************************** header ***************************/
header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 99;
  padding: 1rem;
  min-height: 80px;
}

.f-nav {
  display: flex;
  align-content: space-between;
}

.column-nav {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}

.column-nav > p:hover {
  border-bottom: solid 2px black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  cursor: pointer;
}

/*************************** main ***************************/
/* jumbo */
.frontpage {
  min-height: 500px;
  background-color: #b4d0e7;
}

.f-front {
  display: flex;
  padding-top: 3rem;
  min-height: 500px;
}

.front-l {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 0;
}

.front-r {
  width: 70%;
}

.jumbo {
  width: 110%;
  position: absolute;
}

.jumbolink {
  color: black;
}

/*************** radio ***************/
.radio {
  margin: 1rem 1rem 1rem 0;
  display: inline-block;
}

/*************** flex triplo verticale ***************/
.f-triple {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  justify-content: space-between;
  font-size: 14px;
}

.column-sub {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 2px #aebcc5 solid;
  justify-content: start;
}

.first-row {
  border-bottom: #aebcc5 solid 2px;
  text-align: center;
  padding: 0.5rem;
}

.casella1 {
  padding: 1rem;
  line-height: 2rem;
}

.mese {
  color: #aebcc5;
}

.icon-flex {
  display: flex;
  flex-direction: row;
}

.hr-short {
  margin: 1rem;
  width: 20%;
}

/*************** box large ***************/
.f-single {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  justify-content: space-between;
  border: #aebcc5 solid 2px;
}

.column-single {
  width: 100%;
}

/*************** partner ***************/
.f-display {
  display: flex;
  margin-top: 2rem;
  min-height: 400px;
}
.pic {
  width: 60%;
}

.img-partner {
  width: 100%;
}

.scritte {
  width: 40%;
  padding: 2rem;
}

/*************** flex 6 colonne ***************/
.column-triple {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*************** quadrati ***************/
.quadrati {
  min-height: 628px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.square {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
}

.text {
  width: 33%;
  padding: 2rem;
  display: none;
  position: absolute;
  left: calc(628px + 1rem);
  top: 1rem;
}

.img-width {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loghi {
  width: 50%;
  object-fit: contain;
  filter: invert(1);
}

/*************** Background e animazioni quadrati ***************/
.verde {
  background-color: #a2d39b;
}
.verde:active {
  transform: scale(0.9);
}
.verde:hover > .text {
  display: block;
}

.granata {
  background-color: #61082b;
}
.granata:active {
  transform: scale(0.9);
}
.granata:hover > .text {
  display: block;
}

.azzurro {
  background-color: #0093ce;
}
.azzurro:active {
  transform: scale(0.9);
}
.azzurro:hover > .text {
  display: block;
}

.rosso1 {
  background-color: #ff1c1c;
}
.rosso1:active {
  transform: scale(0.9);
}
.rosso1:hover > .text {
  display: block;
}

.rosso2 {
  background-color: #d5001f;
}
.rosso2:active {
  transform: scale(0.9);
}
.rosso2:hover > .text {
  display: block;
}

.celeste {
  background-color: #b4d0e7;
}
.celeste:active {
  transform: scale(0.9);
}
.celeste:hover > .text {
  display: block;
}

.blu {
  background-color: #0d2481;
}
.blu:active {
  transform: scale(0.9);
}
.blu:hover > .text {
  display: block;
}

.giallo {
  background-color: #ffd830;
}
.giallo:active {
  transform: scale(0.9);
}
.giallo:hover > .text {
  display: block;
}

/*************** div azzurro ***************/
.f-enn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;
}

.left-col {
  width: 50%;
}

.right-col {
  width: 30%;
}

/*************** domande frequenti ***************/
.appear {
  display: none;
}

.animaz:hover + .appear {
  display: block;
}

/*************************** footer ***************************/
footer {
  background-color: #000000;
  min-height: 500px;
}

.f-foot {
  display: flex;
  justify-content: space-between;
}

.f-item {
  width: 16%;
  display: flex;
  flex-direction: column;
}
